{% extends 'topic/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="topic_post">
        <h2 id="t_title">{{ topic.title }}</h2>
        <p id="t_text">{{ topic.text|linebreaksbr }}</p>
        {% if topic.date %}
            <p id="t_date"> {{ topic.date }} </p>
        {% endif %}
        <p id="author" ;>author: {{ topic.author }}</p>
        <a class="btn_comment" href="{% url 'topic_edit' pk=topic.pk %}">Edit</a>
        <a class="btn_comment" href="{% url 'topic_delete' pk=topic.pk %}">Delete</a>
    </div>
    {% for comment in comment_list%}
        <div class="topic_post">
            <p id="t_text">{{ comment.comment|linebreaksbr }}</p>
            {% if comment.published_date %}
                <p id="t_date"> {{ comment.published_date }} </p>
            {% endif %}
            <p id="author";>author: {{ comment.author }}</p>
        </div>
    {% endfor %}
    <div>
    <form method="POST" >{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn_comment">Comment</button>
    </form>
    </div>
{% endblock %}