{% extends 'topic/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="topic_post">
        <h2 id="t_title">{{ topic.title }}</h2>
        <p id="t_text">{{ topic.text|linebreaksbr }}</p>
        {% if topic.published_date %}
            <p id="t_date"> {{ topic.published_date }} </p>
        {% endif %}
        <a href="{% url 'topic_edit' pk=topic.pk %}">Edit</a>
        <a href="{% url 'topic_delete' pk=topic.pk %}">Delete</a>
    </div>
    <div>
        {% for comment in comment_list%}
        <!--<h3 id="author">{{ comment.author }}</h3>-->
        <p id="t_text">{{ comment.comment|linebreaksbr }}</p>
        {% endfor %}
    </div>
    <div>
    <form method="POST" >{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn_comment">Comment</button>
    </form>
    </div>
{% endblock %}